@model Bloggy.Service.DynamicPageService.DynamicPageInsertDto
@inject IStringLocalizer<SharedResources> _localizer

<form action="/Admin/DynamicPage/submit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-floating">
        <input asp-for="Title" class="form-control" placeholder="">
        <label asp-for="Title" class="form-label"></label>
        <span asp-validation-for="Title" class="text-danger mt-1 d-inline-block"></span>
    </div>

    <div class="form-floating">
        <input asp-for="ShortContent" class="form-control" placeholder="">
        <label asp-for="ShortContent" class="form-label"></label>
        <span asp-validation-for="ShortContent" class="text-danger mt-1 d-inline-block"></span>
    </div>

    <label asp-for="Content" class="form-label"></label>
    <textarea name="Content" id="Content" rows="10" cols="80">@Model.Content</textarea>

    <div class="form-floating mt-3">
        <input asp-for="Slug" class="form-control" placeholder="">
        <label asp-for="Slug" class="form-label"></label>
        <span asp-validation-for="Slug" class="text-danger mt-1 d-inline-block"></span>
    </div>


    <button type="submit" class="btn btn-primary mt-4 mb-5">@_localizer["submit"]</button>
</form>

@section Scripts{
    <script src="~/admin/lib/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        CKEDITOR.replace('Content', {
            removeDialogTabs: 'image:advanced;image:Link;link:advanced;link:upload',
            file_picker_types: 'image',
            filebrowserImageUploadUrl: '/admin/post/UploadImage' //Action for Uploding image
        });
    </script>
}