<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Bloggy CMS</title>

    <link rel="shortcut icon" href="/admin/images/bloggy-logo.jpg" type="image/x-icon">
    <link rel="icon" href="/admin/images/bloggy-logo.jpg" type="image/x-icon">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bloggy.Web.styles.css" asp-append-version="true" />
</head>

@RenderBody()

<partial name="_ValidationScriptsPartial" />
</html>