<div class="row main_card">

    <a href="/Admin/Post/Create" class="card text-white bg-primary mb-3 mr-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Post</div>
        <div class="card-body">
            <h5 class="card-title">Add new post</h5>
            <p class="card-text">You can add a new article for your blog from this section</p>
        </div>
    </a>

    <a href="/admin/post" class="card text-white mb-3 mr-3" style="background-color: #3597ff;text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Post</div>
        <div class="card-body">
            <h5 class="card-title">List of posts</h5>
            <p class="card-text">You can see the list of your blog post from this section.</p>
        </div>
    </a>

    <a href="/Admin/DynamicPage/Create" class="card text-white mb-3 mr-3" style="background-color: #22a6b3;text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Dynamic page</div>
        <div class="card-body">
            <h5 class="card-title">Add dynamic page</h5>
            <p class="card-text">You can add a new dynamic page for your blog from this section</p>
        </div>
    </a>

    <a href="/admin/DynamicPage" class="card text-white mb-3 mr-3" style="background-color: #7ed6df;text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Dynamic page</div>
        <div class="card-body">
            <h5 class="card-title">List of dynamic page</h5>
            <p class="card-text">You can see the list of your blog page from this section.</p>
        </div>
    </a>

    <a href="/Admin/Menu/Create" class="card text-white bg-secondary mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Menu</div>
        <div class="card-body">
            <h5 class="card-title">Add new menu</h5>
            <p class="card-text">You can add a new menu for your blog from this section</p>
        </div>
    </a>

    <a href="/admin/menu" class="card text-white mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;background-color:#535c68">
        <div class="card-header">Menu</div>
        <div class="card-body">
            <h5 class="card-title">List of menus</h5>
            <p class="card-text">You can see the list of your blog menus from this section.</p>
        </div>
    </a>

    <a href="/Admin/PostCategory/Create" class="card text-white bg-success mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Post category</div>
        <div class="card-body">
            <h5 class="card-title">Add new post category</h5>
            <p class="card-text">You can add a new post category for your blog from this section.</p>
        </div>
    </a>

    <a href="/admin/postcategory" class="card text-white mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;background-color:#38a573">
        <div class="card-header">Post category</div>
        <div class="card-body">
            <h5 class="card-title">List of post category</h5>
            <p class="card-text">You can see the list of your post category from this section.</p>
        </div>
    </a>

    <a href="/admin/SiteSetting" class="card bg-warning mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;color: #000;">
        <div class="card-header">Setting</div>
        <div class="card-body">
            <h5 class="card-title">Blog setting</h5>
            <p class="card-text">You can edit the setting of your blog from this section.</p>
        </div>
    </a>

    <a href="/admin/UserProfile/ChangeDisplayName" class="card mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;color: #000;background-color:#f9ca24">
        <div class="card-header">Name</div>
        <div class="card-body">
            <h5 class="card-title">Change your name</h5>
            <p class="card-text">You can change your display name from this section.</p>
        </div>
    </a>

    <a href="/admin/UserProfile/ChangePassword" class="card text-white bg-dark mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Password</div>
        <div class="card-body">
            <h5 class="card-title">Change your password</h5>
            <p class="card-text">You can change your password from this section.</p>
        </div>
    </a>

    <a href="/admin/UserProfile/LogOut" class="card text-white bg-danger mb-3" style="text-decoration: none;margin-right: 1rem;max-width: 18rem;">
        <div class="card-header">Log out</div>
        <div class="card-body">
            <h5 class="card-title">Log out from panel</h5>
            <p class="card-text">You can log out the panel when you are done</p>
        </div>
    </a>
</div>